Source: elliptics-gatlinggun
Section: net
Priority: extra
Maintainer: Andrey Vasilenkov <indigo@yandex-team.ru>
Build-Depends: debhelper (>= 8.0.0), cdbs, python, python-central
Standards-Version: 3.9.2
Homepage: https://github.com/nobodyisme/gatlinggun
Vcs-Git: git://github.com/nobodyisme/gatlinggun.git

Package: elliptics-gatlinggun
Architecture: amd64
Depends: ${shlibs:Depends}, ${misc:Depends}, ${python:Depends}, python-kazoo, python-opster
Description: Keys dispatcher for elliptics storage
