Source: elliptics-gatlinggun
Section: net
Priority: extra
Maintainer: Andrey Vasilenkov <indigo@yandex-team.ru>
Build-Depends: debhelper (>= 8.0.0), cdbs, python, python-central
Standards-Version: 3.9.2
Homepage: https://github.com/nobodyisme/gatlinggun
Vcs-Git: git://github.com/nobodyisme/gatlinggun.git
XS-Python-Version: >= 2.6

Package: elliptics-gatlinggun
Architecture: amd64
Depends: ${shlibs:Depends}, ${misc:Depends}, python-kazoo, cocaine-framework-python (>= 0.10.6.19)
XB-Python-Version: >= 2.6
Description: Keys dispatcher python library for elliptics storage

Package: elliptics-gatlinggun-utils
Architecture: amd64
Depends: ${shlibs:Depends}, ${misc:Depends}, elliptics-gatlinggun, python-opster, cocaine-framework-python (>= 0.10.6.19), python-msgpack | msgpack-python
XB-Python-Version: >= 2.6
Description: Keys dispatcher executable for elliptics storage
