#!/usr/bin/make -f
# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

include /usr/share/cdbs/1/rules/debhelper.mk

pre-build::
	mkdir -p $(CURDIR)/debian/tmp/usr/lib/gatlinggun/
	mkdir -p $(CURDIR)/debian/tmp/usr/bin/
	cp $(CURDIR)/usr/bin/elliptics-gatlinggun $(CURDIR)/debian/tmp/usr/bin/
