#!/usr/bin/make -f
# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

DEB_PYTHON_SYSTEM=pycentral
# DEB_PYTHON_DISTUTILS_INSTALLDIR_SKEL=/usr/lib/@PYTHONBINARY@/dist-packages/
# DEB_PYTHON_INSTALL_ARGS_ALL=--prefix=/usr --no-compile -O0 --install-layout=deb
DEB_PYTHON_INSTALL_ARGS_ALL = --install-purelib=/usr/lib/python$$buildver/dist-packages/ \
 --install-platlib=/usr/lib/python$$buildver/dist-packages/

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/python-distutils.mk

install/elliptics-gatlinggun::
	mkdir -p debian/tmp/etc/elliptics/gatlinggun
	cp etc/gatlinggun-default.conf debian/tmp/etc/elliptics/gatlinggun/gatlinggun-default.conf
	cp etc/logging-default.conf debian/tmp/etc/elliptics/gatlinggun/logging-default.conf
	mkdir -p debian/tmp/usr/bin
	cp usr/bin/elliptics-gatlinggun debian/tmp/usr/bin/elliptics-gatlinggun
